.element__likes-button{
        background-image: url(../../../images/love.svg);
        background-repeat: no-repeat;
        height: 19px;
        width: 22px;
        border: none;
        background-color: transparent;
        grid-area: butlike;
        background-size: cover;
        margin: 30px 20px 0 0;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.1s ease-in;
    }
    
    .element__button-like:hover {
        opacity: .5;
    }
