.element__button-delete {
    background-image: url(../../../images/Group.svg);
    background-repeat: no-repeat;
    height: 19px;
    width: 18px;
    border: none;
    background-color: transparent;
    grid-area: butdelete;
    margin: 20px 20px 0 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
    position: absolute;
    justify-self: right;
}

.element__button-delete:hover {
    opacity: .5;
}